.header {
  color: $header-color;
  background: $header-bg;
  height: $header-height;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $space;
}

.header__title {
  margin: 0;
}

.header__menu {
  cursor: pointer;
  height: $header-height - $space;
  padding-bottom: $space;

  @include desktop {
    display: none;
  }
}
